* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#main {
  background: #261E35;
}
#main .main {
  display: flex;
}
#main .main__sidebar {
  min-height: 100vh;
  width: 8%;
  background: #302446;
  border: 1px solid #3d3939;
}
#main .main__sidebar--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
#main .main__sidebar--menu img {
  width: 30px;
  margin: 20px 0;
}
#main .main__sidebar--menu--icon {
  font-size: 20px;
  margin: 15px 0;
  background: #302446;
  transition: 0.7s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#main .main__sidebar--menu--icon :hover {
  font-size: 20px;
  padding: 8px;
  background: #614b73;
  border-radius: 5px;
  transition: 0.7s;
}
#main .main__sidebar--menu a {
  flex-direction: row-reverse;
  font-size: 20px;
  margin: 15px 0;
  background: #302446;
  transition: 0.7s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotate(180deg);
  margin-top: 190%;
  color: #000000;
}
#main .main__sidebar--menu a :hover {
  font-size: 20px;
  padding: 8px;
  background: #614b73;
  border-radius: 5px;
  transition: 0.7s;
}
#main .main #header .main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  padding: 30px 20px;
}
#main .main #header .main__header--icon {
  width: 25px;
  height: 25px;
  background: #3d3939;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .main #header .main__header--icon a {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
#main .main #header .main__header--icon a .red {
  margin-top: 2px;
}
#main .main #header .main__header--icon a :hover {
  font-size: 10px;
  width: 25px;
  height: 25px;
  background: #614b73;
  transition: 0.5s;
  border-radius: 50%;
}
#main .main #header .main__header a {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
}
#main .main #header .main__header--search {
  display: flex;
}
#main .main #header .main__header--search input {
  width: 200px;
  height: 40px;
  position: relative;
  padding: 0 10px;
  background: #2F293E;
  border-radius: 15px;
  border: 1px solid black;
}
#main .main #header .main__header--search .search-icon {
  position: absolute;
  margin-left: 13%;
  margin-top: 13px;
}
#main .main #header .main__header--search a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  left: 1304px;
  top: 30px;
  background: #2B2638;
  border: 1px solid rgba(217, 203, 255, 0.4);
  border-radius: 50px;
  margin: 0 15px;
}
#main .main #header .main__header--search img {
  width: 40px;
  height: 40px;
}
#main .main #header .header__bottom {
  display: flex;
  align-items: center;
}
#main .main #header .header__bottom--one {
  display: flex;
  align-items: center;
  width: 577px;
  height: 239px;
  background: linear-gradient(253.1deg, rgba(255, 122, 122, 0.56) 14.23%, #2A0FD3 101.22%);
  border-radius: 20px;
  margin: 0 20px;
  margin-top: -8x;
}
#main .main #header .header__bottom--one__text {
  display: flex;
  flex-direction: column;
}
#main .main #header .header__bottom--one__text h6 {
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 15px 20px;
}
#main .main #header .header__bottom--one__text h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  padding: 0 20px;
  color: #FFFFFF;
}
#main .main #header .header__bottom--one__text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.8);
}
#main .main #header .header__bottom--one__text button {
  width: 100px;
  height: 35px;
  left: 32px;
  top: 216px;
  color: white;
  background: #261B4C;
  border-radius: 10px;
  transition: 0.7s;
  margin: 0 20px;
}
#main .main #header .header__bottom--one__text button:hover {
  background: #3d3939;
  transition: 0.7s;
  transform: translateY(-10px);
}
#main .main #header .header__bottom--one__text .about--modal {
  display: none;
}
#main .main #header .header__bottom--one__text .about--modal__block {
  width: 1000px;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#main .main #header .header__bottom--one__text .about--modal__block--square {
  width: 1170px;
  height: 603px;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 38px;
  position: relative;
  overflow-y: scroll;
  z-index: 999;
  animation: nod 0.5s alternate linear;
}
@keyframes nod {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#main .main #header .header__bottom--one__text .about--modal__block--square p {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 40px;
}
#main .main #header .header__bottom--one__text .about--modal__block--square__close {
  color: red;
  cursor: pointer;
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  right: 15px;
  height: 15px;
}
#main .main #header .header__bottom--one__text .about--modal__block--square__close--search label {
  display: flex;
  flex-direction: column;
  padding: 80px 60px;
}
#main .main #header .header__bottom--one__text .about--modal__block--square__close--search label input {
  width: 291px;
  height: 58px;
  background: #D6D6D6;
  border-radius: 4px;
  margin: 20px 0;
  border: none;
  padding: 0 30px;
}
#main .main #header .header__bottom--one__figure {
  display: flex;
  flex-direction: column;
}
#main .main #header .header__bottom--one__figure .img-one {
  display: flex;
  margin-left: 74px;
  margin-top: 3px;
}
#main .main #header .header__bottom--one__figure .img-one__fon1 {
  width: 105px;
}
#main .main #header .header__bottom--one__figure .img-one__fon2 {
  width: 76px;
  margin-left: 65px;
}
#main .main #header .header__bottom--one__figure .img-two {
  margin-top: 22px;
}
#main .main #header .header__bottom--one__figure .img-two__fon3 {
  width: 75px;
}
#main .main #header .header__bottom--one__figure .img-two__fon4 {
  width: 152px;
  margin-left: 36px;
}
#main .main #header .header__bottom--one__figure .img-three {
  margin-top: -55px;
  margin-left: 120px;
}
#main .main #header .header__bottom--one__figure .img-three__fon1 {
  width: 109px;
  margin-left: -50px;
}
#main .main #header .header__bottom--one__figure .img-three__fon2 {
  width: 80px;
  margin-left: 57px;
  border-radius: 20px;
}
#main .main #header .header__bottom--two {
  width: 577px;
  height: 239px;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(70px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 25px;
}
#main .main #header .header__bottom--two__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .main #header .header__bottom--two__select a select {
  width: 100px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(26, 17, 29, 0.7);
  border-radius: 10px;
  padding: 0 20px;
  margin: 20px;
  font-size: 10px;
  position: relative;
  color: white;
}
#main .main #header .header__bottom--two__select a select .option {
  border: none;
  background: none;
  outline: none;
  font-size: 10px;
}
#main .main #header .header__bottom--two__select a .icons {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 29px;
  left: 25px;
}
#main .main #header .header__bottom--two__select--left {
  padding: 0 15px;
}
#main .main #header .header__bottom--two__select--left a {
  width: 38px;
  height: 37px;
  font-size: 13px;
  background: rgba(26, 17, 29, 0.7);
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 0 7px;
}
#main .main #header .header__bottom--two__ruler {
  display: flex;
  align-items: center;
}
#main .main #header .header__bottom--two__ruler a h5 {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #868B93;
  padding: 8px 20px;
}
#main .main #header .header__bottom--two__ruler--img {
  position: relative;
}
#main .main #header .header__bottom--two__ruler--img img {
  position: absolute;
  width: 500px;
  top: -71px;
}
#main .main #header .header__bottom--two__ruler--img .rulers {
  margin-top: -10px;
}
#main .main #header .header__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#main .main #header .header__title .swiper-slide {
  display: flex;
  align-items: center;
}
#main .main #header .header__title--one {
  position: relative;
  width: 200px;
  height: 125px;
  margin: 30px 20px;
  background: #3C354A;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#main .main #header .header__title--one .img {
  position: absolute;
  width: 31px;
  z-index: 1;
  margin-top: -15px;
  margin-left: 85px;
}
#main .main #header .header__title--one__many {
  display: flex;
  align-items: center;
}
#main .main #header .header__title--one__many a {
  display: flex;
  padding: 10px;
}
#main .main #header .header__title--one__many a h5 {
  font-weight: 600;
  font-size: 13px;
  color: #868B93;
}
#main .main #header .header__title--one__many a .right {
  font-size: 11px;
  color: white;
  margin: 0 3px;
}
#main .main #header .header__title--one__many a .left {
  margin: 0 3px;
  font-size: 11px;
  color: white;
  margin-top: 4px;
  margin-left: -6px;
}
#main .main #header .header__title--one__many--figur hr {
  position: relative;
  width: 16px;
  height: 16px;
  border: 0.761905px solid #00C287;
  border-radius: 38.0952px;
  margin-left: 20px;
}
#main .main #header .header__title--one__many--figur .icons {
  color: #38a181;
  position: absolute;
  margin-top: 2px;
  margin-left: 22px;
  font-size: 14px;
}
#main .main #header .header__title--one__many--figur p {
  font-weight: 600;
  font-size: 14px;
  color: #00C287;
  margin: 0 4px;
}
#main .main #header .header__title--one h2 {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 10px;
}
#main .main #header .header__title--one img {
  width: 176px;
  margin-top: -15px;
  margin-left: 10px;
}
#main .main #header .header__title--two {
  position: relative;
  width: 200px;
  height: 125px;
  margin: 30px 20px;
  background: #3C354A;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#main .main #header .header__title--two .img {
  position: absolute;
  width: 31px;
  z-index: 1;
  margin-top: -15px;
  margin-left: 85px;
}
#main .main #header .header__title--two__many {
  display: flex;
  align-items: center;
}
#main .main #header .header__title--two__many a {
  display: flex;
  padding: 10px;
}
#main .main #header .header__title--two__many a h5 {
  font-weight: 600;
  font-size: 13px;
  color: #868B93;
}
#main .main #header .header__title--two__many a .right {
  font-size: 11px;
  color: white;
  margin: 0 3px;
}
#main .main #header .header__title--two__many a .left {
  margin: 0 3px;
  font-size: 11px;
  color: white;
  margin-top: 4px;
  margin-left: -6px;
}
#main .main #header .header__title--two__many--figur hr {
  position: relative;
  width: 16px;
  height: 16px;
  border: 0.761905px solid #fd1111;
  border-radius: 38.0952px;
  margin-left: 20px;
}
#main .main #header .header__title--two__many--figur .icons {
  color: #fd1111;
  position: absolute;
  margin-top: 2px;
  margin-left: 22px;
  font-size: 14px;
}
#main .main #header .header__title--two__many--figur p {
  font-weight: 600;
  font-size: 14px;
  color: #fd1111;
  margin: 0 4px;
}
#main .main #header .header__title--two h2 {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 10px;
}
#main .main #header .header__title--two img {
  width: 176px;
  margin-top: -15px;
  margin-left: 10px;
}
#main .main #header .header__title--three {
  position: relative;
  width: 200px;
  height: 125px;
  margin: 30px 20px;
  background: #3C354A;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#main .main #header .header__title--three .img {
  position: absolute;
  width: 31px;
  z-index: 1;
  margin-top: -15px;
  margin-left: 85px;
}
#main .main #header .header__title--three__many {
  display: flex;
  align-items: center;
}
#main .main #header .header__title--three__many a {
  display: flex;
  padding: 10px;
}
#main .main #header .header__title--three__many a h5 {
  font-weight: 600;
  font-size: 13px;
  color: #868B93;
}
#main .main #header .header__title--three__many a .right {
  font-size: 11px;
  color: white;
  margin: 0 3px;
}
#main .main #header .header__title--three__many a .left {
  margin: 0 3px;
  font-size: 11px;
  color: white;
  margin-top: 4px;
  margin-left: -6px;
}
#main .main #header .header__title--three__many--figur hr {
  position: relative;
  width: 16px;
  height: 16px;
  border: 0.761905px solid #51c1ff;
  border-radius: 38.0952px;
  margin-left: 20px;
}
#main .main #header .header__title--three__many--figur .icons {
  color: #51c1ff;
  position: absolute;
  margin-top: 2px;
  margin-left: 22px;
  font-size: 14px;
}
#main .main #header .header__title--three__many--figur p {
  font-weight: 600;
  font-size: 14px;
  color: #51c1ff;
  margin: 0 4px;
}
#main .main #header .header__title--three h2 {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 10px;
}
#main .main #header .header__title--three img {
  width: 176px;
  margin-top: 15px;
  margin-left: 10px;
}
#main .main #header .header__title--four {
  position: relative;
  width: 200px;
  height: 125px;
  margin: 30px 20px;
  background: #3C354A;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
#main .main #header .header__title--four .img {
  position: absolute;
  width: 31px;
  z-index: 1;
  margin-top: -15px;
  margin-left: 85px;
}
#main .main #header .header__title--four__many {
  display: flex;
  align-items: center;
}
#main .main #header .header__title--four__many a {
  display: flex;
  padding: 10px;
}
#main .main #header .header__title--four__many a h5 {
  font-weight: 600;
  font-size: 13px;
  color: #868B93;
}
#main .main #header .header__title--four__many a .right {
  font-size: 11px;
  color: white;
  margin: 0 3px;
}
#main .main #header .header__title--four__many a .left {
  margin: 0 3px;
  font-size: 11px;
  color: white;
  margin-top: 4px;
  margin-left: -6px;
}
#main .main #header .header__title--four__many--figur hr {
  position: relative;
  width: 16px;
  height: 16px;
  border: 0.761905px solid #51c1ff;
  border-radius: 38.0952px;
  margin-left: 20px;
}
#main .main #header .header__title--four__many--figur .icons {
  color: #51c1ff;
  position: absolute;
  margin-top: 2px;
  margin-left: 22px;
  font-size: 14px;
}
#main .main #header .header__title--four__many--figur p {
  font-weight: 600;
  font-size: 14px;
  color: #51c1ff;
  margin: 0 4px;
}
#main .main #header .header__title--four h2 {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0 10px;
}
#main .main #header .header__title--four img {
  width: 176px;
  margin-top: -13px;
  margin-left: 10px;
}
#main .main #header .header__title .swiper {
  width: 1200px;
  height: 180px;
}
#main .main #header .header__market {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#main .main #header .header__market--one {
  width: 577px;
  height: 239px;
  background: #3C354A;
  backdrop-filter: blur(70px);
  border-radius: 20px;
  margin: 0 20px;
}
#main .main #header .header__market--one a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
#main .main #header .header__market--one a h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
#main .main #header .header__market--one a select {
  width: 80px;
  height: 32px;
  right: 20px;
  top: 16px;
  background: rgba(26, 17, 29, 0.7);
  border-radius: 10px;
  padding: 0 5px;
  color: white;
}
#main .main #header .header__market--one__number {
  display: flex;
  align-items: center;
}
#main .main #header .header__market--one__number a {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -15px;
}
#main .main #header .header__market--one__number a h5 {
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  padding: 9px 15px;
  color: #868B93;
}
#main .main #header .header__market--one__number--ruler {
  position: relative;
}
#main .main #header .header__market--one__number--ruler hr {
  position: absolute;
  width: 2px;
  height: 168px;
  background: #D021FD;
  top: -75px;
  left: 221px;
}
#main .main #header .header__market--one__number--ruler .ellipse {
  position: absolute;
  width: 24px;
  left: 210px;
  top: -80px;
  z-index: 1;
}
#main .main #header .header__market--one__number--ruler img {
  position: absolute;
  width: 487px;
  top: -72px;
  left: -23px;
}
#main .main #header .header__market--two {
  width: 240px;
  height: 239px;
  left: 780px;
  top: 616px;
  background: #3C354A;
  border-radius: 20px;
}
#main .main #header .header__market--two h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 15px;
  color: #FFFFFF;
}
#main .main #header .header__market--two__img {
  display: flex;
  padding: 0 10px;
}
#main .main #header .header__market--two__img img {
  width: 50px;
  padding: 0 11px;
}
#main .main #header .header__market--two__amount {
  display: flex;
  align-items: center;
  padding: 20px 18px;
}
#main .main #header .header__market--two__amount p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #9080BA;
}
#main .main #header .header__market--two__amount h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 0 5px;
}
#main .main #header .header__market--two__amount hr {
  width: 3px;
  height: 20px;
  background: white;
}
#main .main #header .header__market--two button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 35px;
  left: 20px;
  top: 208px;
  color: white;
  transition: 0.7s;
  background: linear-gradient(90deg, #AC6AEC 0%, #BB7FF5 100%);
  border-radius: 10px;
  margin: 0 35px;
}
#main .main #header .header__market--two button:hover {
  transition: 0.7s;
  transform: translateY(-10px);
  background: linear-gradient(90deg, #492567 0%, #BB7FF5 100%);
}
#main .main #header .header__market--three {
  width: 310px;
  height: 239px;
  left: 1040px;
  top: 616px;
  margin: 0 20px;
  background: #3C354A;
  border-radius: 20px;
}
#main .main #header .header__market--three h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 20px 15px;
}
#main .main #header .header__market--three span {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  justify-content: space-between;
}
#main .main #header .header__market--three span p {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #BFB7B7;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 43px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 110px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/*# sourceMappingURL=style.css.map */
