@mixin btn {
  padding: 10px 30px;
  background:red;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

@mixin hover {
  font-size: 20px;
  margin: 15px 0;
  background: #302446;
  transition: .7s;
  width:40px;
  height:40px;
  display: flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;

 :hover {
   font-size:20px ;
   padding: 8px;
   background: #614b73;
   border-radius: 5px;
   transition: .7s;
 }


}


@mixin btn {
    width: 100px;
    height: 35px;
    left: 32px;
    top: 216px;
    color: white;
    background: #261B4C;
    border-radius: 10px;
    transition:.7s;
    &:hover {
      background: #3d3939;
      transition: .7s;
      transform: translateY(-10px);
    }
}

@mixin button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 35px;
  left: 20px;
  top: 208px;
  color: white;
  transition: .7s;
  background: linear-gradient(90deg, #AC6AEC 0%, #BB7FF5 100%);
  border-radius: 10px;
  margin: 0 35px;
 &:hover {
    transition: .7s;
    transform: translateY(-10px);
    background:linear-gradient(90deg, #492567 0%, #BB7FF5 100%); ;

  }
}

