* {
  margin: 0;
  padding: 0;
  border: none;
}
a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}
body {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
}